{% extends 'userpages/userheader.html'%}

{% block title %} SHOPPERS PRODUCT {% endblock %}

{% block body %}

<br>
<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'userhome' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'usershop' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Product > {{product.product_name}}</li>

            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <form action="{% url 'add_cart' %}" method="post">
                {% csrf_token %}
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">
                                    <img id="product-zoom" src="/media/{{product.product_images.first.image}}"
                                        data-zoom-image="/media/{{product.product_images.first.image}}"
                                        alt="product image">

                                    <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a>
                                </figure><!-- End .product-main-image -->





                                <div id="product-zoom-gallery" class="product-image-gallery">

                                    {% for image in product.product_images.all %}
                                    <a class="product-gallery-item" href="#" data-image="/media/{{image.image}}"
                                        data-zoom-image="/media/{{image.image}}">
                                        <img src="/media/{{image.image}}" alt="">
                                    </a>
                                    {% endfor %}

                                    <!-- <a class="product-gallery-item" href="#" data-image="/media/assets/images/products/single/1-big.jpg" data-zoom-image="/media/assets/images/products/single/1-big.jpg">
                                        <img src="/media/assets/images/products/single/1-big.jpg" alt="product side">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="/media/assets/images/products/single/3-big.jpg" data-zoom-image="/media/assets/images/products/single/3-big.jpg">
                                        <img src="/media/assets/images/products/single/3-big.jpg" alt="product with model">
                                    </a>
                                    <a class="product-gallery-item" href="#" data-image="/media/assets/images/products/single/4-big.jpg" data-zoom-image="/media/assets/images/products/single/4-big.jpg">
                                        <img src="/media/assets/images/products/single/4-big.jpg" alt="product back">
                                    </a> -->
                                </div><!-- End .product-image-gallery -->
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{product.product_name}}</h1><!-- End .product-title -->

                            <!-- <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div> End .ratings-val -->
                            <!-- </div> End .ratings -->
                            <!-- <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a> -->
                            <!--   </div>End .rating-container -->

                            <div class="product-price">
                                ₹{{product.price}}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{product.product_desription}} </p>
                            </div><!-- End .product-content -->

                            <!-- <div class="details-filter-row details-row-size">
                                <label>Color:</label>

                                <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="" style="background-color: black;">
                                        
                                    </a>
                                    <a href="#" class="" style="background-color: aqua;">
                                        
                                    </a>
                                </div>
                                
                                </div> -->
                            <!-- End .details-filter-row -->
                            <input type="hidden" name="product_slug"
                            value="{{product.slug}}">
                            <input type="hidden" name="price"
                            value="{{product.price}}">
                            


                            {% if product.product_sizes.count %}
                            <div class="details-filter-row details-row-size">
                                <label for="size">Select</label>
                                <div class="select-custom">
                                    <select name="size" id="size" class="form-control" required>
                                        {% for size in product.product_sizes.all %}
                                        <option value="{{size.uid}}">{{size.size_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- End .select-custom -->
                                <!-- <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a> -->
                            </div><!-- End .details-filter-row -->
                            {% endif %}
                            <div class="details-filter-row details-row-size">
                                <label for="qty">Qty:</label>
                                <div class="product-details-quantity">
                                    <input type="number" name="quantity" id="qty" class="form-control" value="1" min="1"
                                        max="10" step="1" data-decimals="0" required>
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->
                            {% include "commen/aleart.html" %}
                            <div class="product-details-action">
                                
                                <button type="submit" class="btn-product btn-cart"><span>add to cart</span></button>

                                <div class="details-action-wrapper">
                                    <!-- <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a> -->

                                    <!-- <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a> -->
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->

                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

        </form>






        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->





{% endblock %}