<!DOCTYPE html>
<html lang="en">


<!-- molla/index-9.html  22 Nov 2019 09:57:25 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/media/assets/images/icons/apple-touch-icon.png">
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/media/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/assets/images/icons/favicon-16x16.png"> -->
    <link rel="manifest" href="/media/assets/images/icons/site.html">
    <link rel="mask-icon" href="/media/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <!-- <link rel="shortcut icon" href="/media/assets/images/icons/favicon.ico"> -->
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/media/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/media/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/media/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/media/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/media/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/media/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/media/assets/css/style.css">
    <link rel="stylesheet" href="/media/assets/css/skins/skin-demo-9.css">
    <link rel="stylesheet" href="/media/assets/css/demos/demo-9.css">
</head>

<body>
    <br>
    <div class="page-wrapper">
        <header class="header header-6">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <ul class="top-menu top-link-menu d-none d-md-block">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +91 9645 654 789</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-left -->

                    <div class="header-right">

                        <ul class="top-menu top-link-menu">
                            <li>
                                <ul>
                                    <li><a href="{% url 'useraccount' %}" ><i class="icon-user"></i>My Account</a></li>

                                    {% if login %}
                                    <li><a href="{% url 'logouts' %}" ><i class="icon-user"></i>Log Out</a></li>
                                        {% else %}
                                    <li><a href="{% url 'logins' %}" ><i class="icon-user"></i>Login</a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <!-- <label for="q" class="sr-only">Search</label> -->
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="text" id="search-input" class="form-control"
                                        placeholder="Search product ..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="{% url 'userhome' %}" class="logo">
                            <h1 style="font-weight: bold; color: blue;">SHOPPERS</h1>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="{% url 'wishlist' %}" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-count">0</span> -->
                            <span class="wishlist-txt"></span>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="{% url 'usercart' %}" 
                            class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count">0</span> -->
                                <!-- <span class="cart-txt">₹ 00.0</span> -->
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container {{homeactive}}">
                                    <a href="{% url 'userhome' %}" class="sf-with-ul"  >Home</a>
                                </li>
                                <li class="{{aboutactive}}">
                                    <a href="#" class="sf-with-ul">About</a>
                                </li>
                                <li class="{{shopactive}}">
                                    <a href="{% url 'usershop' %}" class="sf-with-ul">Shop</a>
                                    <ul>
                                        {% for category in category %}
                                        <li><a href="{% url 'get_category' category.slug %}">{{category.category_name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="sf-with-ul">Contact</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i>
                        <p>Clearance Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->



        {% block body %}
        {% endblock %}





        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <h3 style="color: aliceblue;">SHOPPERS</h3>
                                <p>extremely cool outfits that are both convenient and stylish. 
                                    Stock your casual wardrobe with jumpsuits for women in solids and prints. It is true that ladies jumpsuits are not formal wear appropriate,
                                     but for that street wear edge, invest in bunch of them, because they will definitely up your cool quotient. These days, the hottest trends
                                      are printed and tie-dye jumpsuits for women, which are a favourite of young women who want to stand out from the crowd. At Westside, the hottest
                                       selling garment are jumpsuit for womens online. Jumpsuits are a great alternative for casual western dresses. </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+91 9656 654 789</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="/media/assets/images/payments.png" alt="Payment methods" width="272"
                                                    height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="#">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Shoppers. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                                class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

           
                <input type="text" id="search-inputs" class="form-control"
                                        placeholder="Search product ..." required>
           
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="{{homeactive}}">
                        <a href="{% url 'userhome' %}">Home</a>
                    </li>
                    <li class="{{shopactive}}">
                        <a href="{% url 'usershop' %}">Shop</a>
                        <ul>
                            {% for category in category %}
                            <li><a href="{% url 'get_category' category.slug %}">{{category.category_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    
                   
                    
                </ul>
            </nav><!-- End .mobile-nav -->

          <script>
            const searchInputs = document.querySelector('#search-inputs');
const productListsss = document.querySelector('#product-list');

searchInputs.addEventListener('keyup', function(event) {
  const searchQuery = event.target.value.toLowerCase();
  const products = productListsss.querySelectorAll('.product');

  products.forEach(function(product) {
    const productName = product.querySelector('.product-title a').textContent.toLowerCase();
    
    if (productName.includes(searchQuery)) {
      product.style.display = 'block';
    } else {
      product.style.display = 'none';
    }
  });
});

          </script>
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


    <!-- Plugins JS File -->

    
    <script src="/media/assets/js/jquery.min.js"></script>  
    <script src="/media/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/media/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/media/assets/js/jquery.waypoints.min.js"></script>
    <script src="/media/assets/js/superfish.min.js"></script>
    <script src="/media/assets/js/owl.carousel.min.js"></script>
    <script src="/media/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/media/assets/js/jquery.plugin.min.js"></script>
    <script src="/media/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/media/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/media/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="/media/assets/js/main.js"></script>
    <script src="/media/assets/js/demos/demo-9.js"></script>
</body>


<!-- molla/index-9.html  22 Nov 2019 09:58:03 GMT -->

</html>